<div #contextMenu class="pu-dynamic-grid-context-menu-wrapper pu-no-select">
  <div class="pu-dynamic-grid-context-menu-options">
    <ng-container *ngFor="let option of options">
      <div
        (click)="selectContextMenuOption(option)"
        *ngIf="option.condition.value === '' || option.condition.value == gridHelper.targetRecord$.getValue()[option.condition.key]"
        class="pu-dynamic-grid-context-menu-item"
      >
        <i class="{{ option.icon }}"></i>
        <span class="mLeft10">{{ option.title }}</span>
      </div>
    </ng-container>
  </div>
</div>
