.bRed {
    border: solid red 1px;
}

.bYellow {
    border: solid yellow 1px;
}

.bGreen {
    border: solid green 1px;
}

.bBlue {
    border: solid blue 1px;
}

.bBlack {
    border: solid black 1px;
}

.mAuto {
    margin: auto !important;
}

// Margin Left
.mLeft5 {
    margin-left: 5px;
}

.mLeft10 {
    margin-left: 10px;
}

.mLeft15 {
    margin-left: 15px;
}

.mLeft20 {
    margin-left: 20px;
}

.mLeft25 {
    margin-left: 25px;
}

.mLeft30 {
    margin-left: 30px;
}

.mLeft35 {
    margin-left: 35px;
}

.mLeft40 {
    margin-left: 40px;
}

.mLeft45 {
    margin-left: 45px;
}

.mLeft50 {
    margin-left: 50px;
}

<<<<<<< HEAD
//Margin Right
=======
//Margin Righ
>>>>>>> 8824036171a896ab31ac98ca476ad080a7e08b5e
.mRight5 {
    margin-right: 5px;
}

.mRight10 {
    margin-right: 10px;
}

.mRight15 {
    margin-right: 15px;
}

.mRight20 {
    margin-right: 20px;
}

<<<<<<< HEAD
.mRight25 {
    margin-right: 25px;
}

.mRight30 {
    margin-right: 30px;
}

.mRight35 {
    margin-right: 35px;
}

.mRight40 {
    margin-right: 40px;
}

.mRight45 {
    margin-right: 45px;
}

.mRight50 {
    margin-right: 50px;
}

=======
>>>>>>> 8824036171a896ab31ac98ca476ad080a7e08b5e
//MarginTop
.mTop5 {
    margin-top: 5px;
}

.mTop10 {
    margin-top: 10px;
}

.mTop15 {
    margin-top: 15px;
}

.mTop20 {
    margin-top: 20px;
}

.mTop25 {
    margin-top: 25px;
}

.mTop30 {
    margin-top: 30px;
<<<<<<< HEAD
}

.mTop35 {
    margin-top: 35px;
}

.mTop40 {
    margin-top: 40px;
}

// width
.pu-w50 {
    width: 50%;
=======
>>>>>>> 8824036171a896ab31ac98ca476ad080a7e08b5e
}